<launch>

        <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" args="cmd_vel:=/RosAria/cmd_vel">
            <rosparam file="$(find robot_control)/config/p3dx_costmap_common_params.yaml" command="load" ns="global_costmap" />
            <rosparam file="$(find robot_control)/config/p3dx_costmap_common_params.yaml" command="load" ns="local_costmap" />
            <rosparam file="$(find robot_control)/config/p3dx_local_costmap_params.yaml" command="load" />
            <rosparam file="$(find robot_control)/config/p3dx_global_costmap_params.yaml" command="load" />
            <rosparam file="$(find robot_control)/config/p3dx_base_local_planner_params.yaml" command="load" />
            <rosparam file="$(find robot_control)/config/p3dx_dwa_local_planner_params.yaml" command="load" />
        </node>


</launch>
